table {
    padding-left:10%;
    padding-right:10%;
    width=100%;
}

th,td {
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
}

th {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

td {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.img-logo {
    width: 180px;
    height: 180px;
}